<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MindMelders"
        tools:targetApi="31">


        <activity
            android:name="com.example.mindmelders.FindStudent"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Signup"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Dashboard2"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.DatabaseHelper"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Tutor6"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Tutor5"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Tutor4"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Tutor3"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Tutor2"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Tutor1"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Booked"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Feedback"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.FindTutor"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Account"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Dashboard"
            android:exported="false" />
        <activity
            android:name="com.example.mindmelders.Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>